@font-face {
    font-family: Geist;
    src: url(GeistVF.ttf);
}

:root, .light {
    --background: #fff;
    --background-inverse: #111;
    --surface: #f7f7f7;
    --surface-inverse: #171717;
    --surface-raised: #f2f2f2;
    --heading-color: #000;
    --heading-color-inverse: #fff;
    --text-color: #555;
    --text-tooltip-color: #777;
    --text-dim-color: #bbb;
    --correct-color: #03B55C;
    --error-color: #C8040E;
    --theme-color: #9470FF;
    --theme-color-dark: #7358c7;

    --control-border-color: rgba(0, 0, 0, .2);
    --control-border-hover-color: rgba(0, 0, 0, .3);
    --control-outline-color: rgba(148, 112, 255, .4);
    --drawer-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

    --container-width: min(45ch, calc(100vw - 2rem));
}

:root {
    --page-padding: 2rem;
}

@media (width < 700px) {
    :root {
        --page-padding: 1rem;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #111;
        --background-inverse: #fff;
        --surface: #171717;
        --surface-inverse: #ececec;
        --surface-raised: #1a1a1a;
        --heading-color: #fff;
        --heading-color-inverse: #000;
        --text-color: #ddd;
        --text-tooltip-color: #888;
        --text-dim-color: #555;
        --correct-color: #20FC8F;
        --error-color: #FB3640;
        --theme-color: #E3DAFF;
        --theme-color-dark: #8f7ec2;

        --control-border-color: rgba(255, 255, 255, .2);
        --control-border-hover-color: rgba(255, 255, 255, .3);
        --control-outline-color: rgba(227, 218, 255, .75);
        --drawer-shadow: 0px 0px 15px rgba(37, 37, 37, 0.5);
    }
}

.dark {
    --background: #111;
    --background-inverse: #fff;
    --surface: #171717;
    --surface-inverse: #ececec;
    --surface-raised: #1a1a1a;
    --heading-color: #fff;
    --heading-color-inverse: #000;
    --text-color: #ddd;
    --text-tooltip-color: #888;
    --text-dim-color: #555;
    --correct-color: #20FC8F;
    --error-color: #FB3640;
    --theme-color: #E3DAFF;

    --control-border-color: rgba(255, 255, 255, .2);
    --control-border-hover-color: rgba(255, 255, 255, .3);
    --control-outline-color: rgba(227, 218, 255, .75);
    --drawer-shadow: 0px 0px 15px rgba(37, 37, 37, 0.5);
}

* {
    font-family: "Geist", system-ui;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: var(--background);
    color: var(--text-color);
    overflow: hidden;
}

body {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr var(--container-width) 1fr;

    &:has(.drawer.open) .screen {
        pointer-events: none;

        &.open {
            opacity: .25;
        }
    }

    &:not(.reduce-motion):has(.drawer.open) .screen {
        transform: scale(.9);
    }

    &.reduce-motion * {
        transition-duration: 0ms!important;
        animation-duration: 0ms!important;
    }
}

::selection {
    background: var(--theme-color);
    color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);

    &+p {
        margin-top: .2em;
    }

    &+.text-lg {
        margin-top: .625em;
    }
}

h1,
.text-heading {
    color: var(--heading-color);
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 800;
    letter-spacing: -1px;
}

.text-lg {
    font-size: 1.25rem;
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.2;

    &+p {
        margin-top: 1em;
    }

    &+input {
        margin-top: 1em;
    }
}

p {
    line-height: 1.5;
    font-size: 1rem;
}

a {
    color: var(--theme-color);
    text-underline-offset: 3px;

    &:hover {
        text-decoration: none;
    }
}

input {
    --outline-width: 3px;

    padding: .75rem 1.2rem;
    border: 1px solid var(--control-border-color);
    background: transparent;
    border-radius: .375em;
    outline: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    transition: outline 100ms ease, border 150ms ease;
    outline: var(--outline-width) solid transparent;
    outline-offset: -1px;
    width: 100%;

    &::placeholder {
        color: var(--text-dim-color);
    }

    &:hover {
        border-color: var(--control-border-hover-color);
    }

    &:focus {
        border-color: transparent;
        outline: var(--outline-width) solid var(--control-outline-color);
    }
}

.control-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5em;
    margin-top: .5em;

    &#game-controls {
        margin-top: 1em;
    }

    &.one-col {
        grid-template-columns: 1fr;
    }
}

button {
    --outline-width: 3px;
    padding: .75rem 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    background: var(--surface);
    border: 1px solid var(--control-border-color);
    cursor: pointer;
    border-radius: .375em;
    transition: background 150ms ease, border 150ms ease, outline 150ms ease, color 150ms ease, opacity 200ms ease;
    color: var(--text-color);
    outline: var(--outline-width) solid transparent;
    outline-offset: -1px;

    &:not(:disabled):hover {
        background: var(--surface-raised);
        border-color: var(--control-border-hover-color);
        color: var(--heading-color);
    }

    &:not(:disabled):focus {
        border-color: transparent;
        outline: var(--outline-width) solid var(--control-outline-color);
    }

    &.primary {
        --outline-width: 4px;

        background: var(--background-inverse);
        color: var(--background);

        &:not(:disabled):hover {
            background: var(--surface-inverse);
            color: var(--heading-color-inverse);
        }
    }

    &.icon {
        aspect-ratio: 1;
        display: grid;
        place-items: center;
        padding: .75rem;
    }

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    & svg {
        [fill] { fill: currentColor }
        [stroke] { stroke: currentColor }
    }
}

.screen {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 100%;
    grid-row: 1;
    grid-column: 2;
    transform: translateX(1rem);
    position: relative;
    pointer-events: none;
    opacity: 0;
    transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1), opacity 150ms ease;

    &:has(+ .open),
    &.left:not(.open) {
        transform: translateX(-1rem);
    }

    &.open {
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
    }
}

.error-text {
    color: var(--error-color);
    margin-top: .5em;
    font-size: 1rem;
    font-weight: 500;
    max-height: 1lh;
    overflow: hidden;
    transition: max-height 150ms ease, margin 150ms ease;

    &:empty {
        max-height: 0;
        margin-top: 0;
    }
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75em;
    margin-block: 1rem;
    color: var(--text-tooltip-color);
    font-size: 1rem;

    &:empty {
        gap: 0;
    }

    &:not(.left)::before,
    &::after {
        content: '';
        width: 100%;
        height: 1px;
        background: var(--control-border-color);
    }
}

#game-over-screen~* {
    display: none;
}

#reveal-word {
    color: var(--heading-color);
    font-weight: 800;
}

#mistakes-remaining {
    color: var(--heading-color);
    font-weight: 600;
}

#word-display {
    --font-size: 48px;
    letter-spacing: 0.25em;
    font-size: var(--font-size);
    color: var(--heading-color);
}

#letter-display {
    display: flex;
    font-size: 1.25rem;
    gap: .25em 1em;
    cursor: default;
    user-select: none;
    flex-wrap: wrap;
    margin-top: 1rem;

    & span {
        color: var(--text-color);
        transition: color 150ms ease, transform 150ms ease;
    }

    & span.guessed:not(.incorrect) {
        transform: scale(1.1);
        font-weight: 600;
        color: var(--correct-color);
    }

    & span.incorrect {
        transform: scale(.95);
        color: var(--text-dim-color);
    }
}

.screen-disclaimer {
    font-size: .75rem;

    & p {
        color: var(--text-tooltip-color);
    }
}

.tooltip {
    color: var(--text-tooltip-color);

    &+input {
        margin-top: .5em;
    }
}

.invalid-input {
    animation: shake 0.5s linear;

    &:focus {
        outline-color: var(--error-color);
    }
}

.drawer {
    position: fixed;
    z-index: 1;
    inset-inline: 0;
    bottom: 0;
    margin-inline: auto;
    width: var(--container-width);
    max-width: calc(100vw - 2px);
    background: var(--surface);
    padding: 1rem var(--page-padding) var(--page-padding) var(--page-padding);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
    outline: 1px solid var(--control-border-color);

    &.open {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
    }
}

.drawer-heading {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: start;
    justify-items: end;
    padding-block: 1rem 1.5rem;

    &::before {
        content: '';
        width: 3rem;
        height: .2rem;
        border-radius: 100vw;
        background: var(--control-border-color);
        grid-column: 2;
    }
}

.setting-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--page-padding);
    color: var(--text-color);
    cursor: pointer;
    margin-inline: calc(var(--page-padding) * -1);
    padding: 1rem var(--page-padding);
    transition: background 200ms ease;

    &:hover {
        background: var(--surface-raised);
    }
    
    & span {
        display: flex;
        flex-direction: column;
        gap: .125em;

        & p {
            font-weight: 600;
            color: var(--heading-color);
            font-size: 1.125rem;
        }

        & small {
            color: var(--text-tooltip-color);
        }
    }

    & .toggle {
        height: .8rem;
        aspect-ratio: 2.5 / 1;
        background: var(--text-dim-color);
        border-radius: 100vw;
        display: flex;
        align-items: center;
        cursor: pointer;

        &::before {
            content: '';
            height: 150%;
            aspect-ratio: 1;
            background: var(--text-tooltip-color);
            border-radius: 50%;
            transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1), background 200ms ease;
        }

        &:has(:checked) {
            background: var(--control-outline-color);

            &::before {
                background: var(--theme-color-dark);
                transform: translateX(70%);
            }
        }

        & input[type="checkbox"] {
            display: none;
        }
    }

    & .options {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        color: var(--text-color);
        font-weight: 500;

        & span {
            grid-row: 1;
            grid-column: 1;
            transition: opacity 200ms ease, transform 500ms cubic-bezier(0.19, 1, 0.22, 1);

            &:not(:first-child) {
                opacity: 0;
                transform: translateY(100%) scale(.8);
            }
        }

        &:has(:checked) span {
            &:first-child {
                opacity: 0;
                transform: translateY(-100%) scale(.8);
            }

            &:not(:first-child) {
                opacity: 1;
                transform: translateY(0);
            }
        }

        & input[type="checkbox"] {
            display: none;
        }
    }
}

#settings-button {
    position: fixed;
    top: var(--page-padding);
    right: var(--page-padding);
}

@media (width < 600px) {
    #word-display {
        --font-size: 32px;
        white-space: break-spaces;
    }

    .text-lg {
        font-size: 1.1rem;
    }

    .control-group:not(.no-break) {
        grid-template-columns: 1fr;
    }

    .error-text {
        max-height: 2lh;
    }

    .drawer {
        width: 100%;
        outline: none;
    }
}

@keyframes shake {
    0% {
        transform: none;
    }

    15% {
        transform: translateX(-5px);
    }

    35% {
        transform: translateX(8px);
    }

    45% {
        transform: translateX(-6px);
    }

    75% {
        transform: translateX(4px);
    }

    100% {
        transform: none;
    }
}